body {
    text-align: center;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section,
    aside, footer {
        background: #ebebeb;
        height: 50px;
}

section, aside {
    position: relative;
    height: 500px;
}

section {
    width: 495px;
}

article {
    position: relative;
    left: 10px;
    top: 50px;
    width: 475px;
    height: 350px;
    color: #ebebeb;
    background: #777;
}

div    {
    position: relative;
    left: 20px;
    top: 50px;
    width: 400px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    line-height: 2;
}

aside {
    top: 20px;
    float: right;
    width: 450px;
}